## Portfolio Analysis using Pandas
Python Pandas, a widely used data manipulation and analysis library, provides an ideal toolkit for working with financial data. Its intuitive and versatile functionalities enable us to efficiently handle large datasets, perform complex calculations, and visualize the results. By leveraging the capabilities of Pandas, we can streamline our portfolio analysis and gain valuable insights into the performance of different trading strategies.

In this notebook, we will embark on a journey to analyze a portfolio using Python Pandas.

### Data import

In [1]:
import pandas as pd

In [2]:
portfolio = pd.read_excel('data/portfolio.xls')
portfolio.sample(3, random_state=12345)

,date,country,sector,exposure,mtd,nav,strategy,type,issuer
15472,2018-09-28,Germany,Future,0.0,0.0,1.969125e+08,CAPITAL MARKETS,Future,DAX Index
19363,2018-11-30,Belgium,Financial,0.0,0.0,1.335799e+08,CAPITAL MARKETS,Equity,VGP NV
15946,2018-09-28,United Kingdom,Basic Materials,0.0,0.0,1.969125e+08,CAPITAL MARKETS,Contract for Difference,Shanta Gold Ltd

Some basic explorations of the data can be done using the .info() and .describe() methods of the pandas DataFrame class.

In [3]:
portfolio.head()

,date,country,sector,exposure,mtd,nav,strategy,type,issuer
0,2018-01-31,Switzerland,"Consumer, Non-cyclical",0.0,0.0,1.884133e+08,SPECIAL SITUATIONS,Equity,Degroof
1,2018-01-31,Sweden,"Consumer, Non-cyclical",0.0,0.0,1.884133e+08,CAPITAL MARKETS,Equity,SVENSKA CELLULOSA AB SCA
2,2018-01-31,Netherlands,Utilities,0.0,0.0,1.884133e+08,CAPITAL MARKETS,Bond Convertible,IBERDROLA SA
3,2018-01-31,Germany,Basic Materials,0.0,0.0,1.884133e+08,CAPITAL MARKETS,Equity,Evonik Industries AG
4,2018-01-31,United States,Financial,0.0,0.0,1.884133e+08,CAPITAL MARKETS,Equity,First Republic Bank/CA

## Basic Data Manipulation

**Exercise 1**: get all observations with country equal to switzerland and save it in a new DataFrame object named *portfolio_swiss*

In [4]:
mask = portfolio['country'] == 'Switzerland'
portfolio_swiss = portfolio[mask].copy()

**Exercise 2**: set the index of the *portfolio swiss* DataFrame to the date using the .set_index() method

In [5]:
portfolio_swiss.set_index('date', inplace=True)

**Exercise 3**: remove all observations for which the exposure is equal to 0

In [6]:
mask = portfolio_swiss.exposure != 0
portfolio_swiss = portfolio_swiss[mask].copy()
portfolio_swiss.head()

,country,sector,exposure,mtd,nav,strategy,type,issuer
date,,,,,,,,
2018-01-31,Switzerland,Industrial,5.353807e+01,3.502142,1.884133e+08,ARBITRAGE,Equity,Arbonia AG
2018-01-31,Switzerland,Industrial,-5.353807e+01,-3.502142,1.884133e+08,ARBITRAGE,Equity,Arbonia AG
2018-01-31,Switzerland,Financial,-1.104005e+06,-55046.927667,1.884133e+08,ARBITRAGE,Equity,SWISS RE AG
2018-01-31,Switzerland,Technology,1.532623e+06,104054.249986,1.884133e+08,ARBITRAGE,Equity,Temenos Group AG
2018-02-28,Switzerland,Industrial,5.240313e+01,-1.134931,1.901977e+08,ARBITRAGE,Equity,Arbonia AG

## Creating new columns
The pandas package makes it straightforward to create additional (computed) columns of the database.

**Exercise 4**: Create two new columns names *exposure_rebased* and *mtd_rebased* which take the original exposure and mtd columns and divide the by the nav

In [7]:
portfolio_swiss['exposure_rebased'] = portfolio_swiss['exposure'] / portfolio_swiss['nav']
portfolio_swiss['mtd_rebased'] = portfolio_swiss['mtd'] / portfolio_swiss['nav']
portfolio_swiss.head()

,country,sector,exposure,mtd,nav,strategy,type,issuer,exposure_rebased,mtd_rebased
date,,,,,,,,,,
2018-01-31,Switzerland,Industrial,5.353807e+01,3.502142,1.884133e+08,ARBITRAGE,Equity,Arbonia AG,2.841522e-07,1.858755e-08
2018-01-31,Switzerland,Industrial,-5.353807e+01,-3.502142,1.884133e+08,ARBITRAGE,Equity,Arbonia AG,-2.841522e-07,-1.858755e-08
2018-01-31,Switzerland,Financial,-1.104005e+06,-55046.927667,1.884133e+08,ARBITRAGE,Equity,SWISS RE AG,-5.859485e-03,-2.921605e-04
2018-01-31,Switzerland,Technology,1.532623e+06,104054.249986,1.884133e+08,ARBITRAGE,Equity,Temenos Group AG,8.134364e-03,5.522658e-04
2018-02-28,Switzerland,Industrial,5.240313e+01,-1.134931,1.901977e+08,ARBITRAGE,Equity,Arbonia AG,2.755193e-07,-5.967115e-09

**Exercise 5**: drop the original exposure and mtd columns

In [8]:
portfolio_swiss.drop(['mtd', 'nav'], axis=1, inplace=True)
portfolio_swiss.head()

,country,sector,exposure,strategy,type,issuer,exposure_rebased,mtd_rebased
date,,,,,,,,
2018-01-31,Switzerland,Industrial,5.353807e+01,ARBITRAGE,Equity,Arbonia AG,2.841522e-07,1.858755e-08
2018-01-31,Switzerland,Industrial,-5.353807e+01,ARBITRAGE,Equity,Arbonia AG,-2.841522e-07,-1.858755e-08
2018-01-31,Switzerland,Financial,-1.104005e+06,ARBITRAGE,Equity,SWISS RE AG,-5.859485e-03,-2.921605e-04
2018-01-31,Switzerland,Technology,1.532623e+06,ARBITRAGE,Equity,Temenos Group AG,8.134364e-03,5.522658e-04
2018-02-28,Switzerland,Industrial,5.240313e+01,ARBITRAGE,Equity,Arbonia AG,2.755193e-07,-5.967115e-09

## Computing results
**Exercise 6**: show all the results for the issure *Nestle SA*

In [9]:
portfolio_swiss[portfolio_swiss.issuer == 'Nestle SA']

,country,sector,exposure,strategy,type,issuer,exposure_rebased,mtd_rebased
date,,,,,,,,
2018-07-31,Switzerland,"Consumer, Non-cyclical",4.816086e+06,SPECIAL SITUATIONS,Listed Option,Nestle SA,0.027597,-0.000090
2018-08-31,Switzerland,"Consumer, Non-cyclical",2.318184e+06,SPECIAL SITUATIONS,Listed Option,Nestle SA,0.014249,-0.000592

**Exercise 7**: copute the total performance for each issuer by summing the individual mtd_rebased values per issuer

In [13]:
performance = portfolio_swiss[['issuer', 'mtd_rebased']].groupby('issuer').sum()
performance

                      mtd_rebased
issuer
Arbonia AG               0.000000
Klingelnberg AG         -0.000299
Nestle SA               -0.000682
Polyphor AG             -0.010898
SWISS RE AG             -0.000302
Sensirion Holding AG     0.001022
Temenos Group AG         0.000552

**Exercise 8**: sort the values such that the largest winners are at the top

In [15]:
performance.sort_values('mtd_rebased', ascending=False)

                      mtd_rebased
issuer
Sensirion Holding AG     0.001022
Temenos Group AG         0.000552
Arbonia AG               0.000000
Klingelnberg AG         -0.000299
SWISS RE AG             -0.000302
Nestle SA               -0.000682
Polyphor AG             -0.010898

**Exercise 8**: determine the PNL per strategy in a similar way as above**

In [16]:
portfolio_swiss[['strategy', 'mtd_rebased']].groupby('strategy').sum()

                    mtd_rebased
strategy
ARBITRAGE              0.000250
CAPITAL MARKETS       -0.010175
SPECIAL SITUATIONS    -0.000682