## Portfolio Analysis using Pandas
Python Pandas, a widely used data manipulation and analysis library, provides an ideal toolkit for working with financial data. Its intuitive and versatile functionalities enable us to efficiently handle large datasets, perform complex calculations, and visualize the results. By leveraging the capabilities of Pandas, we can streamline our portfolio analysis and gain valuable insights into the performance of different trading strategies.

In this notebook, we will embark on a journey to analyze a portfolio using Python Pandas.

### Data import

In [1]:
import pandas as pd

In [2]:
portfolio = pd.read_excel('data/portfolio.xls')
portfolio.sample(3)

,date,country,sector,exposure,mtd,nav,strategy,type,issuer
20000,2018-11-30,Italy,Diversified,827701.927532,662185.982675,1.335799e+08,CAPITAL MARKETS,Equity Right,Spaxs SpA
20750,2018-12-31,Norway,Energy,0.000000,0.000000,1.019061e+08,SPECIAL SITUATIONS,Bond Corporate,DNO ASA
7732,2018-05-31,United Kingdom,Communications,0.000000,0.000000,2.027182e+08,SPECIAL SITUATIONS,Contract for Difference,INMARSAT PLC

Some basic explorations of the data can be done using the .info() and .describe() methods of the pandas DataFrame class.

In [3]:
portfolio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22093 entries, 0 to 22092
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      22093 non-null  datetime64[ns]
 1   country   22093 non-null  object
 2   sector    22093 non-null  object
 3   exposure  22093 non-null  float64
 4   mtd       22093 non-null  float64
 5   nav       22093 non-null  float64
 6   strategy  22093 non-null  object
 7   type      22093 non-null  object
 8   issuer    22093 non-null  object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 1.5+ MB

## Basic Data Manipulation

**Exercise 1**: get all observations with country equal to switzerland and save it in a new DataFrame object named *portfolio_swiss*

In [4]:
portfolio_swiss = portfolio[portfolio.country == 'Switzerland'].copy()
portfolio_swiss.sample(3)

,date,country,sector,exposure,mtd,nav,strategy,type,issuer
16645,2018-10-31,Switzerland,"Consumer, Non-cyclical",0.0,0.0,1.626130e+08,ARBITRAGE,Equity,Chocoladefabriken Lindt & Spruengli AG
0,2018-01-31,Switzerland,"Consumer, Non-cyclical",0.0,0.0,1.884133e+08,SPECIAL SITUATIONS,Equity,Degroof
6977,2018-05-31,Switzerland,Basic Materials,0.0,0.0,2.027182e+08,ARBITRAGE,Equity,Looser Holding AG

**Exercise 2**: set the index of the *portfolio swiss* DataFrame to the date using the .set_index() method

In [5]:
portfolio_swiss.set_index('date', inplace=True)
portfolio_swiss.sample(3)

,country,sector,exposure,mtd,nav,strategy,type,issuer
date,,,,,,,,
2018-09-28,Switzerland,"Consumer, Non-cyclical",0.0,0.0,1.969125e+08,SPECIAL SITUATIONS,Equity,Actelion Ltd
2018-08-31,Switzerland,"Consumer, Non-cyclical",0.0,0.0,1.626941e+08,ARBITRAGE,Equity,Actelion Ltd
2018-09-28,Switzerland,"Consumer, Cyclical",0.0,0.0,1.969125e+08,SPECIAL SITUATIONS,Equity,Cie Financiere Richemont SA

**Exercise 3**: remove all observations for which the exposure is equal to 0

In [6]:
portfolio_swiss = portfolio_swiss[portfolio_swiss.exposure != 0]
portfolio_swiss.sample(3)

,country,sector,exposure,mtd,nav,strategy,type,issuer
date,,,,,,,,
2018-12-31,Switzerland,"Consumer, Non-cyclical",1.174518e+06,-252067.716342,1.019061e+08,CAPITAL MARKETS,Equity,Polyphor AG
2018-08-31,Switzerland,Industrial,-4.625864e+01,4.635025,1.626941e+08,ARBITRAGE,Equity,Arbonia AG
2018-06-29,Switzerland,"Consumer, Non-cyclical",2.204701e+06,-337720.152444,1.886550e+08,CAPITAL MARKETS,Equity,Polyphor AG

## Creating new columns
The pandas package makes it straightforward to create additional (computed) columns of the database.

**Exercise 4**: Create two new columns names *exposure_rebased* and *mtd_rebased* which take the original exposure and mtd columns and divide the by the nav

In [7]:
portfolio_swiss.loc[:, 'exposure_rebased'] = portfolio_swiss.exposure / portfolio_swiss.nav
portfolio_swiss.loc[:, 'mtd_rebased'] = portfolio_swiss.mtd / portfolio_swiss.nav
portfolio_swiss.sample(3)

,country,sector,exposure,mtd,nav,strategy,type,issuer,exposure_rebased,mtd_rebased
date,,,,,,,,,,
2018-01-31,Switzerland,Industrial,-5.353807e+01,-3.502142,1.884133e+08,ARBITRAGE,Equity,Arbonia AG,-2.841522e-07,-1.858755e-08
2018-09-28,Switzerland,Industrial,1.410003e+06,-86350.851357,1.969125e+08,CAPITAL MARKETS,Equity,Klingelnberg AG,7.160556e-03,-4.385239e-04
2018-11-30,Switzerland,Industrial,-3.679288e+01,0.816842,1.335799e+08,ARBITRAGE,Equity,Arbonia AG,-2.754372e-07,6.115008e-09

**Exercise 5**: drop the original exposure and mtd columns

In [8]:
portfolio_swiss.drop(['exposure', 'mtd'], axis=1, inplace=True)
portfolio_swiss.sample(3)

,country,sector,nav,strategy,type,issuer,exposure_rebased,mtd_rebased
date,,,,,,,,
2018-01-31,Switzerland,Industrial,1.884133e+08,ARBITRAGE,Equity,Arbonia AG,2.841522e-07,1.858755e-08
2018-11-30,Switzerland,"Consumer, Non-cyclical",1.335799e+08,CAPITAL MARKETS,Equity,Polyphor AG,1.200457e-02,-2.250990e-03
2018-07-31,Switzerland,"Consumer, Non-cyclical",1.745121e+08,CAPITAL MARKETS,Equity,Polyphor AG,1.259741e-02,-3.610123e-05

## Computing results
**Exercise 6**: show all the results for the issure *Nestle SA*

In [9]:
portfolio_swiss[portfolio_swiss.issuer == 'Nestle SA']

,country,sector,nav,strategy,type,issuer,exposure_rebased,mtd_rebased
date,,,,,,,,
2018-07-31,Switzerland,"Consumer, Non-cyclical",1.745121e+08,SPECIAL SITUATIONS,Listed Option,Nestle SA,0.027597,-0.000090
2018-08-31,Switzerland,"Consumer, Non-cyclical",1.626941e+08,SPECIAL SITUATIONS,Listed Option,Nestle SA,0.014249,-0.000592

**Exercise 7**: copute the total performance for each issuer by summing the individual mtd_rebased values per issuer

In [10]:
portfolio_swiss_performance = portfolio_swiss.groupby('issuer').sum()['mtd_rebased']
portfolio_swiss_performance

issuer
Arbonia AG              0.000000
Klingelnberg AG        -0.000299
Nestle SA              -0.000682
Polyphor AG            -0.010898
SWISS RE AG            -0.000302
Sensirion Holding AG    0.001022
Temenos Group AG        0.000552
Name: mtd_rebased, dtype: float64

**Exercise 8**: sort the values such that the largest winners are at the top

In [11]:
portfolio_swiss_performance.sort_values(ascending=False)

issuer
Sensirion Holding AG    0.001022
Temenos Group AG        0.000552
Arbonia AG              0.000000
Klingelnberg AG        -0.000299
SWISS RE AG            -0.000302
Nestle SA              -0.000682
Polyphor AG            -0.010898
Name: mtd_rebased, dtype: float64

**Exercise 8**: determine the PNL per strategy in a similar way as above**

In [12]:
portfolio_swiss.groupby('strategy').sum()['mtd_rebased']

strategy
ARBITRAGE             0.000250
CAPITAL MARKETS      -0.010175
SPECIAL SITUATIONS   -0.000682
Name: mtd_rebased, dtype: float64